body {
    font-family: sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
}

a:hover {
    color: brown;
}

#content {
    background-color: darkblue;
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

#banner {
    padding: 10px;
    background-color: crimson;
    margin: 10;
    border: 1px solid black;
    text-align: center;
}

#blogposts {
margin: 10px;
border: 1px solid black;
background-color: gray;

}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: tan;
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}