body {
    font-family: sans-serif;
    background-image: linear-gradient(green, blue);
    margin: 0;
    padding: 0;

}

#content {
    background-color: green;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-style: dotted;

}

#banner {
    padding: 10px;
    background-color: purple;
    margin: 10;
    border: 15px solid black;
    border-style: double;
    text-align: center;

}

#blogposts {
margin: 10px;
border: 15px solid black;
background-color: purple;
border-style: groove;
text-align: center;
}

.post {
    margin: 5px;
    padding: 20px;
    border: 15px solid black;
    background-color: aqua;
    border-style: groove;
    display: inline-block;
    text-align: center;
}
.posts {
    margin: 5px;
    padding: 20px;
    border: 15px solid black;
    background-color: aqua;
    border-style: groove;
    display: flex;
    text-align: center;
}

.postLeft {
    float: left;
    margin-right: 10px;
    img {

        float: left;
    }
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
}
.img {
    width: 50px;
    height: 50px;
    border: 5px;
}
a{
   color: blue;
   background-color: white;
}